<% include ../partials/header %>
<div id="edit-cont" class="container text-center"">
    <div class="ui sizer vertical segment">
            <div class="ui huge header">Editting product: <strong><%= product.name %></strong>
        </div>
        <form class="ui form" action="/products/<%=product._id%>?_method=PUT" method="POST">
            <div class="field">
                <label>Product name: </label>
                <input type="text" value="<%= product.name %>" name="product[name]">
            </div>
            <div class="field">
                <label for="price">Price</label>
                <input class="form-control" type="number" name="product[price]" id="price" value="<%= product.price %>" step="0.01" min="0" required>
            </div>
            <div class="field">
                <label>Product image: </label>
                <div class="thumbnail">
                    <div class="dipslay-block">
                        <img src="<%= product.image %>" id="img-edit" class="img-thumbnail">
                    </div>
                </div>
                <input type="text" name="product[image]" value="<%= product.image %>">
            </div>
            <div class="field">
                <label>Product description: </label>
                <textarea name="product[desc]"><%= product.desc %></textarea>
            </div>
            <button class="btn btn-primary">Edit!</button>
        </form>
        <div class="homepage">
            <a href="/products">Go to the home page</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>